* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem 2rem;
  background-color: white;
}

.logo {
  height: 100px;
}

.nav-items {
  display: flex;
  gap: 2rem; 
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.auth-buttons .login-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.auth-buttons .signup-btn {
  text-decoration: none;
  color: white;
  background-color: #231060;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.auth-buttons .signup-btn:hover {
  background-color: #3b38d1;
}

